<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @search.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @search.content %>
</p>

<p>
  <strong>Img:</strong>
  <%= image_tag @search.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to "Link", @search.link, target: "_blank" %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
